---
layout: default
title: People

picture-role-groups:
    - faculty
    - pdra
    - phd

no-picture-role-groups:
    - alum
---

<section class="people justify-content-between">
    {% for role in page.picture-role-groups %}
        {% include role-people.html role=role image=true %}
    {% endfor %}
</section>

<!--<section class="people row justify-content-between">-->
<!--    {% for role-group in page.no-picture-role-groups %}-->
<!--        <div class="fluid-container">-->
<!--            {% for role in role-group.roles %}-->
<!--                {% include role-people.html role=role image=false %}-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    {% endfor %}-->
<!--</section>-->
