
{% assign person = include.person %}

{% assign id = include.id %}

{% assign full = include.full %}

{% comment %}

Usage:

{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
        {% include person.html person=person image=true %}
    {% endif %}
{% endfor %}

Use the image parameter to include or not include an image.

Note that pl-0 just removes the left padding from the name part that is put
there by default by Bootstrap columns.

{% endcomment %}

{% assign name = person.display_name %}

{% if include.image %}
        {% if full %}
        <div id="{{ id }}" class="person person-with-image row p-2 align-items-start">
        {% else %}
        <a class="person person-with-image row p-2 col-4 align-items-center" href="{{ site.baseurl }}/people#{{ id }}">
        {% endif %}
        <div class="col-auto">
            {% include person-image.html person=person portrait=full %}
        </div>
        <div class="col pl-0">
            {% if full %}
            <h4 class="person-name"> {{ name }} </h4>
            {% else %}
            <h6 class="person-name"> {{ name }} </h6>
            {% endif %}
            {% if include.job %}
                {% assign job = include.job %}
                <div class="job">{{ job }}</div>
            {% endif %}
            {% if full %}
            <div class="d-flex flex-row mt-3"><h6 class="heading">About</h6><button class="btn btn-link btn-sm pt-0" data-toggle="collapse" data-target="#bio_{{ id }}"><i class="fa fa-caret-right" aria-hidden="true"></i></button></div>
            <div id="bio_{{ id }}" class="collapse">
                {{ person.bio }}
            </div>


            {% assign projects = '' | split: '' %}

            {% for item in site.projects %}
                {% for item2 in item.people %}
                    {% if item2.name == id %}
                        {% assign projects = projects | push: item %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% assign publications = '' | split: '' %}

            {% for item in site.data.publications %}
                {% for item2 in item[1].authors %}
                    {% if item2 == id %}
                        {% assign publications = publications | push: item[1] %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if projects.size != 0 %}
            <div class="d-flex flex-row mt-3"><h6 class="heading">Projects</h6><button class="btn btn-link btn-sm pt-0" data-toggle="collapse" data-target="#projects_{{ id }}"><i class="fa fa-caret-right" aria-hidden="true"></i></button></div>
            <div id="projects_{{ id }}" class="col collapse">
                {% for item in projects %}
                <a class="row" href="{{site.baseurl}}{{item.url}}">{{ item.title }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {% if publications.size != 0 %}
            <div class="d-flex flex-row mt-3"><h6 class="heading">Publications</h6><button class="btn btn-link btn-sm pt-0" data-toggle="collapse" data-target="#publications_{{ id }}"><i class="fa fa-caret-right" aria-hidden="true"></i></button></div>
            <div id="publications_{{ id }}" class="col collapse">
                {% for item in publications %}
                <div class="row mb-1 d-2 flex-column publication">
                    <div class="font-weight-bold">{{ item.title }}</div>
                    <div class="mt-1"><span>{{ item.published.in }} - {{ item.published.when | date: "%B %Y" }}</span><div class="btn-group">
                        <a class="btn btn-secondary btn-sm" href="{{ item.source | escape | relative_url }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                        <a class="btn btn-secondary btn-sm" href="#" data-toggle="modal" data-target="#bibtex-modal" data-title="{{ item.title }}" data-bibtex="{{ item.bibtex }}"><i class="fa fa-quote-right" aria-hidden="true"></i></a>
                    </div></div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endif %}
        </div>
    {% if full %}
    </div>
    {% else %}
    </a>
    {% endif %}
{% else %}
    <div class="person person-without-image">
        {{ name }}
    </div>
{% endif %}

{% include publication-modal.html %}
