
{% assign person = include.person %}

{% comment %}

Usage:

{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
        {% include person.html person=person image=true %}
    {% endif %}
{% endfor %}

Use the image parameter to include or not include an image.

Note that pl-0 just removes the left padding from the name part that is put
there by default by Bootstrap columns.

{% endcomment %}

{% assign name = person.display_name %}

{% if include.image %}
    <div class="person person-with-image row p-2 align-items-center" data-toggle="modal" data-target="#person-modal" data-image="{{ site.base }}{{ person.image }}" data-name="{{ person.display_name }}" data-bio="{{ person.bio }}">
        <div class="col-auto">
            {% include person-image.html person=person %}
        </div>
        <div class="col pl-0">
            <h6 class="person-name"> {{ name }} </h6>
        </div>
    </div>
{% else %}
    <div class="person person-without-image">
        {{ name }}
    </div>
{% endif %}
