
{% assign project = include.project %}

{% if project.link %}
    {% assign proj-url = project.link %}
{% else %}
    {% capture proj-url %}{{site.baseurl}}{{project.url}}{% endcapture %}
{% endif %}

<a href="{{ proj-url }}" class="card">
    <div class="card-body">
            <h4 class="card-title">
                {{  project.title }}
            </h4>
        <div class="card-text">
            {{ project.abstract }}
        </div>
    </div>
        <div class="card-footer d-flex flex-row flex-wrap justify-content-center">
            {% for uname in project.people %}
                {% assign person = site.data.people[uname] %}
                <div class="project-person">
                    {% include person-image.html person=person %}
                </div>
            {% endfor %}
        </div>
</a>
