
{% assign publication = include.publication %}

<div class="publication">
    <h4> {{ publication.title }} </h4>
    <h5 class="journal"> {{ publication.published.in }} - {{ publication.published.when | date: "%B %Y" }} </h5>
<div class="row align-items-start">
    {% for author in publication.authors %}
        {% assign person = site.data.people[author] %}
        {% include person.html id=author person=person image=true %}
    {% endfor %}
</div>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-secondary" href="{{ publication.source | escape | relative_url }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a>
        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#bibtex-modal" data-title="{{ publication.title }}" data-bibtex="{{ publication.bibtex }}"><i class="fa fa-quote-right" aria-hidden="true"></i> BiBTeX</a>
    </div>
</div>

