
{% assign role-key = include.role %}

{% for role in site.people_roles %}
    {% if role.key == role-key %}
<div class="d-flex flex-row"><h3 class="pt-3"> {{ role.name }} </h3><button class="btn btn-link" data-toggle="collapse" data-target="#{{ role-key }}"><i class="fa fa-caret-down" aria-hidden="true"></i></button></div>
        <div id="{{ role-key }}" class="collapse show flex-container">
            {% for item in site.data.people %}
                {% assign id = item[0] %}
                {% assign person = item[1] %}
                {% if person.role == role.key %}
                    {% if person.job %}
                        {% assign job = person.job %}
                        {% include person.html id=id person=person image=include.image job=job full=true %}
                    {% else %}
                        {% include person.html id=id person=person image=include.image full=true %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
