---
layout: default
---

{{ content }}

<h2> Project Contributors </h2>
<section class="project-people row">
    {% for uname in page.people %}
        {% assign person = site.data.people[uname.name] %}
        {% assign role = site.project_roles | find: "key", uname.role %}
        {% include person.html id=uname.name person=person image=true job=role.name %}
    {% endfor %}
</section>

{% if page.publications %}
<h2> Publications </h2>
<section class="publications">
    {% for uname in page.publications %}
    {% assign publication = site.data.publications[uname] %}
    {% include publication.html publication=publication %}
    {% endfor %}
</section>
{% endif %}